{
  "Entries": [
    {
      "RequestUri": "/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/ps-test/providers/Microsoft.Sql/servers/ps-svr/keys/ps-vault_ps-key_65011ae18b5747eba29ea8e5fc85c1a9?api-version=2015-05-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"uri\": \"https://ps-vault.vault.azure.net/keys/ps-key/65011ae18b5747eba29ea8e5fc85c1a9\",\r\n    \"serverKeyType\": \"AzureKeyVault\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"operation\": \"UpsertLogicalServerEncryptionKeys\",\r\n  \"startTime\": \"2017-06-23T18:27:52.173Z\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Retry-After": [
          "1"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/providers/Microsoft.Sql/locations/West Europe/serverKeyAzureAsyncOperation/683d7ec7-1fc1-4bcf-9f46-2153573ed792?api-version=2015-05-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/providers/Microsoft.Sql/locations/West%20Europe/serverKeyOperationResults/683d7ec7-1fc1-4bcf-9f46-2153573ed792?api-version=2015-05-01-preview"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/providers/Microsoft.Sql/locations/West%20Europe/serverKeyOperationResults/683d7ec7-1fc1-4bcf-9f46-2153573ed792?api-version=2015-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"operation\": \"UpsertLogicalServerEncryptionKeys\",\r\n  \"startTime\": \"2017-06-23T18:27:52.173Z\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Retry-After": [
          "1"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/providers/Microsoft.Sql/locations/West Europe/serverKeyAzureAsyncOperation/683d7ec7-1fc1-4bcf-9f46-2153573ed792?api-version=2015-05-01-preview"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14964"
        ],
        "Location": [
          "https://management.azure.com/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/providers/Microsoft.Sql/locations/West%20Europe/serverKeyOperationResults/683d7ec7-1fc1-4bcf-9f46-2153573ed792?api-version=2015-05-01-preview"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/providers/Microsoft.Sql/locations/West%20Europe/serverKeyOperationResults/683d7ec7-1fc1-4bcf-9f46-2153573ed792?api-version=2015-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"kind\": \"azurekeyvault\",\r\n  \"properties\": {\r\n    \"serverKeyType\": \"AzureKeyVault\",\r\n    \"uri\": \"https://ps-vault.vault.azure.net/keys/ps-key/65011ae18b5747eba29ea8e5fc85c1a9\",\r\n    \"thumbprint\": \"D14966998253E0B00B00E35FDBDB170DF7700F4B\",\r\n    \"creationDate\": \"2017-06-23T18:22:10Z\"\r\n  },\r\n  \"location\": \"West Europe\",\r\n  \"id\": \"/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/resourceGroups/ps-test/providers/Microsoft.Sql/servers/ps-svr/keys/ps-vault_ps-key_65011ae18b5747eba29ea8e5fc85c1a9\",\r\n  \"name\": \"ps-vault_ps-key_65011ae18b5747eba29ea8e5fc85c1a9\",\r\n  \"type\": \"Microsoft.Sql/servers/keys\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14963"
        ]
      },
      "StatusCode": 201
    },
[...]
    {
      "RequestUri": "/subscriptions/2c647056-bab2-4175-b172-493ff049eb29/providers/Microsoft.Sql/locations/West%20Europe/serverKeyOperationResults/3544c209-f125-4ecc-9669-23eb7885e385?api-version=2015-05-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14959"
        ]
      },
      "StatusCode": 204
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "2c647056-bab2-4175-b172-493ff049eb29",
    "User": null,
    "TenantId": null
  }
}